<!DOCTYPE html>
<html>
<head>
  <!--------------------------------------------
  GIFS PAGE THEME BY VALERIE /// insomniacthemes.tumblr.com
  i didn't add the cpinkit button to this theme so, please, just respect me and my work;
  do not claim as yours and do not repost;
  you can change and customize it in any possible way but for your personal use.
  ---- /// ------------------------------------>

  <title> PJ Gifs - {{page.subject}}</title> <!-- DON'T FORGET TO ADD TITLE FOR THE TAB HERE -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" href="/assets/images/faveicon.ico"/>
</head>
<body>
<div class="tb">
  <div class="tt">{{page.subject}} (gif count: {{page.count}})</div>
</div>
<center>
  <div class="bb">
    <a href="https://ransonepj.tumblr.com/tagged/{{page.tag}}">view original posts</a>
  </div>
</center>
<center>
  <p>
    {{content}}
  </p>
</center>
<center>
  <div class="bb">
    &larr; <a href="/index.html">back to navigation</a>
  </div>
</center>

<script>
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
</script>
</body>
</html>